# Node dependencies
node_modules/

# Vite build output
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
*.local

# Supabase CLI
.supabase/

# Hosting (optional)
.netlify/
.vercel/

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio project files (just in case)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
